body {
    margin: 0;
    padding: 0;

}

.container {
    width: 1920px;
    height: 902px;
    position: relative;
    overflow: hidden;
}

.container2 {
    display: flex;
    width: 1920px;
    height: 800px;
    justify-content: center;
    margin-top: 30px;
}

.background {
    width: 1920px;
    height: 900px;
    position: absolute;
    left: -1px;
    top: 1px;
    background: #f2e9d8;
}

.logo {
    width: 130px;
    height: 40px;
    position: absolute;
    left: 320px;
    top: 31px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 1206px;
    top: 30px;
    gap: 30px;
}

#download_btn_1 {
    width: 140px;
    height: 50px;
    position: absolute;
    top: 26px;
    left: 1460px;
    border-radius: 40px;
    cursor: pointer;
}

.title-section {
    position: absolute;
    left: 320px;
    top: 304px;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    color: #000;
}

.text-section {
    position: absolute;
    left: 320px;
    top: 464px;
    font-size: 16px;
    text-align: left;
    color: #000;
}

.download_btn_2 {
    width: 140px;
    height: 50px;
    position: absolute;
    top: 590px;
    left: 320px;
    border-radius: 40px;
    cursor: pointer;
}

.cat-image-container {
    width: 415px;
    height: 766px;
    position: absolute;
    left: 1185px;
    top: 136px;
    overflow: hidden;
}

.cat-image {
    width: 415px;
    height: 766px;
}

#cat-on-the-bed {
    width: 660px;
    height: 390px;
}

#cat_on_the_bed {
    width: 660px;
    height: 390px;
    position: absolute;
    top: 1060px;
    left: 320px;
}

#mid_text_1 {
    position: absolute;
    top: 1152px;
    left: 1090px;
    font-family: 'Pretendard', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

#mid_text_2 {
    position: absolute;
    top: 1316px;
    left: 1090px;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#customText2 {
    position: absolute;
    top: 1570px;
    left: 523px;
    font-family: 'Pretendard', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #D97652;
}

#customText3 {
    position: absolute;
    top: 1670px;
    left: 605px;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.image_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 800px;
}
.imageItem {
    width: 378px;
    height: 378px;
    object-fit: cover;
}
.infinite {
    /*display: none;*/
    position: relative;
    top: 72px;
    width: 1400px;
    list-style-type: none;
    text-align: center;
    float: left;
    left: 250px;
}
.infinite img{
    width: 350px;
    height: 350px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #000000;
    
.frame {
    position: relative;
    top: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frame-text {
    font-family: 'Pretendard', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: black;
    margin-bottom: 20px; /* 버튼과의 간격을 설정합니다. */
}

#learn_more_btn {
    width: 143px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.map_container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
    width: 1920px;
    height: 1000px;
}

.scroll-top-btn {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 700px;
    left: 1300px;
    cursor: pointer;
    z-index: 1;
}

.map_content {
    width: 1278px;
    height: 660px;
}
.line {
    position: relative;
}

.line img {
    align-items: center;
}

.map-main-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
}

.map-address-text {
    position: relative;
    top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
#map_content {
    position: relative;
    top: 30px;
}

.subscribe {
    z-index: 2;
    position: relative;
    top: 100px;
    height: 200px;
    width: 1280px;
    left: 320px;
    background-color: #263140;
    border-radius: 30px;
    alignment: center;
}
.sub-text{
    position: relative;
    top: 51px;
    left: 58px;
}
.email{
    position: absolute;
    top: 70px;
    left: 692px;
    width: 530px;
    height: 60px;
    border-radius: 60px;
}
.sub-btn {
    position: absolute;
    top: 75px;
    left: 1081px;
    width: 135px;
    height: 50px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 0;
    text-align: center;
}
.modal-image {
    width: 600px;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    margin-top: 10%;
}

.modal-image img {
    margin: 10px;
}
.footer {
    position: relative;
    height: 500px;
    margin-bottom: 0;
}
.footer_cat {
    width: 1920px;
    height: 340px;
}
.footer-logo {
    position: relative;
    top: 45px;
    left: 320px;
}
.footer-icon-group {
    position: relative;
    top: 58px;
    left: 1372px;
}
/*
.scroll-top-btn {
    position: relative;
    width: 50px;
    height: 50px;
    top: -10px;
    left: -400px;
    cursor: pointer;
}

 */
